.card {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    align-items: start;
    width: 50%;
    margin: 20px;
    background-color: #FFFFFF;
    width: 780px;
    height: 180px;
    gap: 32px;
    border-radius: 12px;
    border: 1px solid #DDDDDD
}

.card img {
    display: grid;
    height: 180px;
    width: 200px;
    border: 1px solid #DDDDDD;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.card button {
    cursor: pointer;
    width: 58px;
    height: 58px;
    gap: 0px;
    border-radius: 12px;
    opacity: 0px;
    border: 1px solid #DDDDDD
}

.card p:last-child {
    cursor: pointer;
}

.card p {
    font-family: 'Montserrat';
    font-size: 10px;
    line-height: 15px;
    color: #424436;
    margin-right: 10px;
    margin-left: 10px;
}

 .card > h6 {
    color: black;
    cursor: pointer;
    justify-content: flex-start;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    text-align: left;
 }

