.card {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    align-items: start;
    gap: 15px;
    border: 1px solid rgb(207, 196, 196);
    width: 50%;
    margin: 20px;
    border-radius: 20px;
    
   
    

    
      
}

.card img {
    height: 200px;
    width: 180px;
    object-fit: contain;
    border: 1px solid rgba(221, 221, 221, 1);
    
    
   

}

.card button {
    padding: 0 5px;
    cursor: pointer;
    border: 1px solid 
    rgba(221, 221, 221, 1);
    
     
}

.card p:last-child {
    cursor: pointer;
   
    

}

.card p {
    font-family: 'Montserrat';
    font-size: 10px;
    line-height: 15px;
    color: #424436;
    margin-right: 10px;
    margin-left: 10px;

    
      
}
 .card > h6 {
    color: black;
    cursor: pointer;
    justify-content: flex-start;
   

 }

