 .nav_menu  {
    display: flex;
    justify-content: center;
    padding: 15px 0;
    font-size: 14px;
    gap: 15px;
    }
  
  .nav_menu a {
    color: rgba(66, 68, 54, 1);
    text-decoration: none;
    
  }

  
  
  
  