 .nav_menu  {
    background: #fffff1;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 15px 0;
    font-size: 14px;
    }
  
  .nav_menu a {
    color: #424436;
    text-decoration: none;

  }
  
  