.sale {
    font-family: Montserrat;
    width: 140px;
    height:70px ;
    font-size: 64px;
    font-weight: 700;
    line-height: 70.4px;
    text-align: left;
    margin-left: 40px;
    color:#424436;

}

.categories_title {
    font-family: Montserrat;
    width: 361px;
    height:70px ;
    font-size: 64px;
    font-weight: 700;
    line-height: 70.4px;
    text-align: left;
    margin-left:40px ;
    color: #424436; 
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    gap: 40px;
    background-position: center;
    width: 748px; /* тут же он растягивает и копирует картинку */
    height: 360px;
    }

/*.banner > img {
    background: linear-gradient(80.46deg, #87933D -0.68%, #55610B 66.66%);
} */

.banner h1 {
    background: linear-gradient(80.46deg, #87933D -0.68%, #55610B 66.66%);
    position: absolute;
    border-radius: 12px;
    left: 40px;
    right: 40px;
    top: 710px;
    width: 1360px;
    height:70px;
    font-family: Montserrat;
    font-size: 64px;
    font-weight: 700;
    line-height: 70.4px;
    text-align: center;
    color: white;
}

.banner_styles {
    width: 748px;
    height: 360px;
    gap: 0px;
    opacity: 0px;
    position: absolute;
    left: 40px;
}
.banner_styles > p {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    text-align: left;
    margin-right: 50px;
    width: 516px;
    height:58px;
    padding: 16px 32px 16px 32px;
    gap: 10px;
    border-radius: 6px;
    border: 1px 0px 0px 0px;
}
/* .hrStyle > hr {
    display: flex;
    flex-direction: row;
    width: 1360px;
    justify-content: right;
    align-items: right;
} */