.sale{
    font-family: Montserrat;
    width: 140px;
    height:70px ;
    font-size: 64px;
    font-weight: 700;
    line-height: 70.4px;
    text-align: left;
    margin-left:40px ;

}

.categories_title {
    font-family: Montserrat;
    width: 361px;
    height:70px ;
    font-size: 64px;
    font-weight: 700;
    line-height: 70.4px;
    text-align: left;
    margin-left:40px ;
    color: #424436; /*это же добавить в стили в sale */
}
