




































































































.products_on_sales{
    border: 1px solid black;
    background-color: #FFFFFF;
    width: 316px;
    gap: 20px;
    height: 422px;
 margin-right: 32px;
 border-radius: 12px;
 position: relative;
 
 

}

.products_on_sales > img {
    width: 316px;
    height:284px ;
    border: 1px solid lightblue;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

}



.products_on_sales >p :first-child{


}
